<div class="row">
    <div class="col-md-3 col-sm-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-header__title">Rechercher membre</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="searchMembreForm" (ngSubmit)="searchMembre()">
                    <div class="form-group">
                        <label>Prénom</label>
                        <input type="text" class="form-control" placeholder="Prénom" formControlName="prenom">
                    </div>
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="form-control" placeholder="Nom" formControlName="nom">
                    </div>
                    <div class="form-group">
                        <label>Catégorie</label>
                        <select class="form-control" formControlName="categorie">
                            <option value="">Choisir la Catégorie</option>
                            <option *ngFor="let categorie of categories" value="{{categorie.nom}}">{{categorie.nom}}
                            </option>
                        </select>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </div>
                    <div *ngIf="submitted" class="alert alert-danger">
                        Choississez au moins un champs
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-9">
        <div class="card">
            <div class="card-header">
                <h4 class="card-header__title">Liste des membres</h4>
                <a href="#" routerLink="/membre-add" class="btn btn-success" data-toggle="tooltip"
                    data-placement="bottom" title="Ajouter un membre"><i class="fa fa-plus-circle"></i></a>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Profession</th>
                            <th>Catégorie</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let membre of membres | paginate : {itemsPerPage: 10, currentPage: p}">
                            <td>{{membre.nom | uppercase}}</td>
                            <td>{{membre.prenom}}</td>
                            <td>{{membre.profession}}</td>
                            <td>{{membre.categorie.nom}}</td>
                            <td class="form-table">
                                <form #detailForm="ngForm" (ngSubmit)="detailMembre(detailForm.value)">
                                    <input type="hidden" name="id" [ngModel]="membre.id">
                                    <button type="submit" class="btn btn-secondary" data-toggle="tooltip"
                                        data-placement="bottom" title="Voir un membre"><i
                                            class="fas fa-list-ul"></i></button>
                                </form>
                                <form #updateForm="ngForm" (ngSubmit)="updateMembre(updateForm.value)">
                                    <input type="hidden" name="id" [ngModel]="membre.id">
                                    <button type="submit" class="btn btn-primary" data-toggle="tooltip"
                                        data-placement="bottom" title="Modifier un membre"><i
                                            class="fa fa-edit"></i></button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right" *ngIf="membres">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>