<div class="card">
    <div class="card-header">
        <h4 class="card-header__title">Modifier une cotisation</h4>
    </div>
    <div class="card-body">
        <form action="">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label>Montant</label>
                        <input type="text" class="form-control" placeholder="Montant cotisation">
                    </div>
                    <div class="form-group">
                        <label>Catégorie</label>
                        <input type="text" class="form-control" placeholder="Catégorie">
                    </div>
                    <div class="form-group">
                        <label>Date cotisation</label>
                        <input type="date" class="form-control" placeholder="Catégorie">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label>Don matériel</label>
                        <textarea name="" id="" cols="30" rows="8" placeholder="Don matériel"
                            class="form-control__textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>
        </form>
    </div>
</div>