<div class="app-login page">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="title text-uppercase">
                    <h4>Gestion des cotisations</h4>
                </div>
                <form action="">
                    <div class="form-group-material">
                        <input type="text" name="login" class="input-material" placeholder="Username">
                    </div>
                    <div class="form-group-material">
                        <input type="password" name="password" class="input-material" placeholder="mot de passe">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Connexion</button>
                    </div>
                </form>
            </div>
            <div class="copyrights text-center">
                <p>Designed by Takuji</p>
            </div>
        </div>
    </div>
</div>