<div class="row mb-3">
    <div class="col-md-3 col-sm-3">
        <div class="card mb-2">
            <div class="card-header">
                <h6 class="card-header__title">Fiche Membre</h6>
                <a (click)="updateMembre()" class="btn btn-success" data-toggle="tooltip" data-placement="bottom"
                    title="Modifier"><i class="fa fa-edit"></i></a>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="mr-1">Prénom:</label>
                    {{membre.prenom | uppercase}}
                </div>
                <div class="form-group">
                    <label class="mr-1">Nom:</label>
                    {{membre.nom | uppercase}}
                </div>
                <div class="form-group">
                    <label class="mr-1">Profession:</label>
                    {{membre.profession}}
                </div>
                <div class="form-group">
                    <label class="mr-1">Date naissance:</label>
                    {{membre.dateNaissance}}
                </div>
                <div class="form-group">
                    <label class="mr-1">Année adhésion:</label>
                    {{membre.anneeAdhesion}}
                </div>
                <div class="form-group">
                    <label class="mr-1">Téléphone:</label>
                    {{membre.telephone}}
                </div>
                <div class="form-group">
                    <label class="mr-1">Email:</label>
                    {{membre.mail}}
                </div>
                <div class="form-group">
                    <label class="mr-1">Lieu résidence:</label>
                    {{membre.lieuResidence}}
                </div>
                <div class="form-group">
                    <label class="mr-1">Catégorie:</label>
                    {{membre.categorie.nom}}
                </div>
                <div class="form-group">
                    <label class="mr-1">Quartier Origine:</label>
                    {{membre.quartierOrigine}}
                </div>
                <div class="form-group">
                    <label class="mr-1">Concession:</label>
                    {{membre.concession}}
                </div>
                <div class="form-group">
                    <label class="mr-1">Pays:</label>
                    {{membre.region.pays.nom}}
                </div>
                <div class="form-group">
                    <label class="mr-1">Région:</label>
                    {{membre.region.nom}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-9">
        <div class="card mb-3">
            <div class="card-header">
                <h6 class="card-header__title">Historique cotisation</h6>
                <a (click)="addCotisation()" class="btn btn-success" data-toggle="tooltip" data-placement="bottom"
                    title="Ajouter une cotisation"><i class="fa fa-plus-circle"></i></a>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr class="text-center">
                            <th>Montant</th>
                            <th>Don matériel</th>
                            <th>Type Cotisation</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let cotisation of cotisations | paginate: {itemsPerPage: 9, currentPage: p}">
                            <td>{{cotisation.montant}} FCFA</td>
                            <td>{{cotisation.donMateriel}}</td>
                            <td>{{cotisation.cotisationAnnuelle.promoteurCotisation.nom}}</td>
                            <td>{{cotisation.dateCotisation.split("T")[0]}}</td>
                            <td><a (click)="updateCotisation(cotisation.id)" routerLink="/cotisation-update" class="btn btn-success"
                                    data-toggle="tooltip" data-placement="bottom" title="Modifier la cotisation"><i
                                        class="fa fa-edit"></i></a>
                                <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom"
                                    title="Supprimer la cotisation"><i class="fa fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right" *ngIf="cotisations">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header text-center">
                <h6 class="card-header__title">Suivi des cotisations annuelles</h6>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-sm">
                    <thead class="text-center">
                        <tr>
                            <th>Année</th>
                            <th>Type Cotisation</th>
                            <th>Montant Annuel</th>
                            <th>Montant cotisé</th>
                            <th>Montant restant</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr
                            *ngFor="let cotisation of cotisationAnnuelles | paginate: {itemsPerPage: 7, currentPage: p}">
                            <td>{{cotisation[0]}}</td>
                            <td>{{cotisation[1]}}</td>
                            <td>{{cotisation[2]}} FCFA</td>
                            <td>{{cotisation[3]}} FCFA</td>
                            <td>{{cotisation[2] - cotisation[3]}} FCFA</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right" *ngIf="cotisations">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3 justify-content-center">
    <div class="col-md-10 col-sm-10">

    </div>
</div>