<div class="card">
    <div class="card-header">
        <h4>Modifier un membre</h4>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label>Prénom</label>
                        <input type="text" class="form-control" placeholder="Prénom">
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>
        </form>
    </div>
</div>