<div class="card">
    <div class="card-header">
        <h4>Modification d'adresse de {{membre.prenom}} {{membre.nom}}</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="adresseForm" (ngSubmit)="updateAdresse()">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label>Quartier origine</label>
                        <input type="text" class="form-control" placeholder="Quartier" formControlName="quartier"
                            [ngClass]="{'is-invalid': submitted && f.quartier.errors}">
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label>Concession</label>
                        <input type="text" class="form-control" placeholder="Concession" formControlName="concession"
                            [ngClass]="{'is-invalid': submitted && f.concession.errors}">
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label>Pays</label>
                        <select class="form-control" (change)="getRegion($event)" formControlName="pays"
                            [ngClass]="{'is-invalid': submitted && f.pays.errors}">
                            <option value="">Choisir le pays</option>
                            <option *ngFor="let pay of pays" value="{{pay.nom}}">{{pay.nom}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label>Région</label>
                        <select class="form-control" (change)="getDepartement($event)" formControlName="region"
                            [ngClass]="{'is-invalid': submitted && f.region.errors}">
                            <option value="">Choisir la région</option>
                            <option *ngFor="let region of regions" value="{{region.nom}}">{{region.nom}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label>Département</label>
                        <select class="form-control" formControlName="departement"
                            [ngClass]="{'is-invalid': submitted && f.departement.errors}">
                            <option value="">Choisir le département</option>
                            <option *ngFor="let department of departements" value="{{department.id}}">{{department.nom}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>
        </form>
    </div>
</div>